/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Playfair+Display:ital@1&display=swap");
/* Variables */
:root {
  --clr-primary-1: rgb(25, 10, 0);
  --clr-primary-2: rgb(76, 31, 1);
  --clr-primary-3: rgb(127, 52, 1);
  --clr-primary-4: rgb(177, 73, 1);
  --clr-primary-5: rgb(228, 94, 2);
  --clr-primary-6: rgb(253, 119, 27);
  --clr-primary-7: rgb(254, 149, 78);
  --clr-primary-8: rgb(254, 180, 128);
  --clr-primary-9: rgb(254, 210, 179);
  --clr-primary-10: rgb(255, 240, 230);
  --clr-grey-1: rgb(13, 13, 13);
  --clr-grey-2: rgb(38, 38, 38);
  --clr-grey-3: rgb(64, 64, 64);
  --clr-grey-4: rgb(89, 89, 89);
  --clr-grey-5: rgb(115, 115, 115);
  --clr-grey-6: rgb(140, 140, 140);
  --clr-grey-7: rgb(166, 166, 166);
  --clr-grey-8: rgb(191, 191, 191);
  --clr-grey-9: rgb(217, 217, 217);
  --clr-grey-10: rgb(242, 242, 242);
  --clr-white: #fff;
  --clr-black: #000;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Playfair Display", serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-8);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-8);
  background: var(--clr-primary-4);
}
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-8);
}
.section-title {
  margin-bottom: 0.5rem;
}
.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
/* Header */
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/main-bcg.jpg") center/cover no-repeat fixed;
  position: relative;
  /* Animation */
  overflow-x: hidden;
}
.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-8);
  /* Animation */
}
.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* Animation */
}
/* Content Divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-primary-8),
    var(--clr-white),
    var(--clr-primary-8)
  );
}
/* Benefits */
.benefits-section {
  background: var(--clr-grey-10);
}
.benefits-section-center {
  padding: 1rem 0;
  text-align: center;
  transition: var(--transition);
}
.benefits-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: var(--transition);
  display: inline-block;
  color: var(--clr-primary-8);
}
.benefits-text {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}
.benefits-section-center:hover {
  background: var(--clr-white);
  box-shadow: 0 2px var(--clr-primary-8);
}
.benefits-section-center:hover .benefits-icon {
  transform: translateY(-5px);
}
/* Using Floats */
@media (min-width: 576px) {
  .benefits-section-center {
    float: left;
    width: 50%;
  }
  .benefit-1 {
    padding-bottom: 3.55rem;
  }
  .benefit-4 {
    padding-bottom: 5rem;
  }
  .benefit-5 {
    padding-bottom: 7.75rem;
  }
}
@media (min-width: 1200px) {
  .benefits-section-center {
    width: 25%;
  }
  .benefit-2 {
    padding-bottom: 2.5rem;
  }
  .benefit-3 {
    padding-bottom: 4rem;
  }
  .benefit-4 {
    padding-bottom: 10rem;
  }
  .benefit-5 {
    padding-bottom: 10.5rem;
  }
}
/* About */
.about-img,
.about-info {
  padding: 2rem 0;
}
.about-picture-container {
  background: var(--clr-primary-8);
  border: 0.5rem solid var(--clr-primary-8);
  max-width: 30rem;
  overflow: hidden;
}
.about-picture {
  transition: var(--transition);
}
.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}
.about-text {
  max-width: 26rem;
  color: var(--clr-grey-5);
}
@media (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
  .about-info {
    padding-left: 2rem;
  }
}
/* Products */
.products {
  background: var(--clr-grey-10);
}
.products-title {
  text-align: center;
}
.products article {
  padding: 2rem 0;
}
.product {
  margin-bottom: 2rem;
}
.product-img {
  border-radius: var(--radius);
}
.product-price {
  color: var(--clr-primary-8);
}
@media (min-width: 768px) {
  .product {
    float: left;
    width: 50%;
    padding-left: 1rem;
  }
}
@media (min-width: 992px) {
  .product {
    width: 33.3%;
  }
}
/* Contact */
.contact {
  background: var(--clr-grey-10);
}
.contact-form,
.contact-info {
  margin: 1rem 0;
}
.contact-item {
  margin-bottom: 1.75rem;
}
.contact-title,
.contact-title a {
  color: var(--clr-primary-8);
  font-weight: 400;
}
.contact-text {
  text-transform: uppercase;
}
.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.email {
  text-transform: lowercase;
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
@media (min-width: 768px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  }
}
